target/*
pom.xml.tag
cert.oem
key.pem
.mvn/timing.properties
ca.pem
.buildpath
.metadata
.classpath
.factorypath
.settings/
.project
*.iml
*.pid
*manifest-with-credentials.yml
*.pem
*/paho*
*.log
*/bin
